<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baadal"
        tools:targetApi="31">
        <activity
            android:name=".widget.PlayNext"
            android:exported="false" />
        <activity
            android:name=".widget.AboutActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".widget.SettingsActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".widget.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".widget.SelectionActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".widget.PlaylistDetails"
            android:exported="false"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <receiver
            android:name=".model.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".model.MusicService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

        <activity
            android:name=".screen.PlaylistActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".screen.FavouriteActivity"
            android:configChanges="uiMode|orientation"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".screen.PlayerActivity"
            android:configChanges="uiMode|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="audio/*"
                    android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.MainActivity"
            android:configChanges="uiMode|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>